* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    background-color: #ffa500;
    width: 100%;
    height: 40px;

}

.logo-empresa {
    width: 30px;
    position: absolute;
    right: 364px;
    left: 11px;
}

.logo-carrinho {
    width: 33px;
    position: absolute;
    right: 10px;
    left: 85%;
    cursor: pointer;
}

.logo-carrinho:hover {
    transition: 0.8s ease-in-out;
    width: 40px;
}

header a {
    font-size: 20px;
    position: relative;
    left: 65px;
    padding: 5px;
    word-spacing: 8px;
    cursor: pointer;

}

a:hover {
    color: white;
    transition:  1.3s ease-in-out;
    font-size: 25px;
}

.banner {
    width: 100%;
    height: 141px;
    background-color: #F9C15B;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}

.mais-pedidos {
    background-color: black;
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.titulo-1 p {
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.cardapio div {
    display: inline-block;
}

#d-1 {
    background-color: #D9D9D9;
    width: 165px;
    height: 174px;
    border-radius: 10px;
    position: relative;
    left: 4%;
    top: 8px;
    box-shadow: 0 9px 16px 0 rgb(90, 84, 84);
    cursor: pointer;
}

#d-1 img {
    width: 150px;
    height: 138px;
    margin-left: 7px;
    margin-top: 6px;
}

#d-1 p {
    position: absolute;
    top: 150px;
    left: 15px;
}

#d-1 h4 {
    position: absolute;
    right: 15px;
    bottom: 6px;
}

#d-2 {
    background-color: #D9D9D9;
    width: 165px;
    height: 174px;
    border-radius: 10px;
    position: relative;
    right: -10%;
    top: 8px;
    box-shadow: 0 9px 16px 0 rgb(90, 84, 84);

}

#d-2 img {
    width: 150px;
    height: 138px;
    margin-left: 7px;
    margin-top: 6px;
}

#d-2 p {
    position: absolute;
    top: 150px;
    left: 15px;
}

#d-2 h4 {
    position: absolute;
    right: 15px;
    bottom: 6px;
}

#d-3 {
    background-color: #D9D9D9;
    width: 165px;
    height: 174px;
    border-radius: 10px;
    position: relative;
    left: 4%;
    top: 30px;
    box-shadow: 0 9px 16px 0 rgb(90, 84, 84);
}

#d-3 img {
    width: 150px;
    height: 138px;
    margin-left: 7px;
    margin-top: 6px;
}

#d-3 p {
    position: absolute;
    top: 150px;
    left: 15px;
}

#d-3 h4 {
    position: absolute;
    right: 15px;
    bottom: 6px;
}

#d-1:hover {
    transform: scale3d(1.1,1.1,1);
}

#d-2:hover {
    transform: scale3d(1.1,1.1,1);
}

#d-3:hover {
    transform: scale3d(1.1,1.1,1);
}




