* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background-color: #ffa500;
    width: 100vw;
    height: 40px;
    
}

.logo-empresa {
    width: 30px;
    position: absolute;
    right: 364px;
    left: 11px;
}

.logo-carrinho {
    width: 35px;
    position: absolute;
    right: 10px;
    left: 367px;
}

nav {
    font-size: 16px;
    position: relative;
    left: 110px;
    padding:5px;
    
}

.banner {
 width: 100vw;
 height: 141px;
 background-color: #F9C15B;
 font-size: 25px;
 display: flex;
 align-items: center;
 text-align: center;
}

.mais-pedidos {
    background-color: black;
    width: 100vw;
    height: 41px;
}
 .titulo-1 p {
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
 }
